*{
box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    align-items: center;
}

.vertical-timeline-element-icon svg {
    position: absolute;
}
.containerE{
    text-align: none;
    margin-top: 0%;
    margin-bottom: 10%;
    right: auto;
    justify-content: space-around;
    display: flex;
    align-items: stretch;
    outline: auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.596);

}
.vertical-timeline-element-date{
    color: white;
}
.vertical-timeline-element-date {
    font-size: larger;
}

.vertical-timeline-element-title{
  font-size: 16px !important;  
  color: black !important;
  font-weight: bold;        
  margin-top: 4px;
  text-align: center;    
}

.vertical-timeline-element-subtitle {
  font-size: 16px !important;  
  color: black !important;
  font-weight: bold;        
  margin-top: 4px;
  text-align: center;            
}

.vertical-timeline-element-summary{
  font-size: 15px !important;  
  color: black !important;
  font-weight: normal;        
  margin-top: 4px;     
}

@media (max-width: 1120px) {
    .container {
        width: 100ch;
        position: relative;
    }
    .vertical-timeline-element-date{
    color: rgb(0, 0, 0);
}
}