.Skill-Container{
display: -webkit-box;
display: -webkit-flex;

gap: 5px;
color: white;
padding: 10px;
margin: 20px;
border-radius: 15px;
font-size: 20px;
outline: white auto 1px;
align-content: center;
justify-content: center;
flex-direction: row;
}

.Skill-Container:hover {
    background-color: white ;
    color: rgb(75, 75, 75);
}