.Skill-Container{
display: flex;
width: auto;

gap: 5px;
color: white;
padding: 10px;
margin: 20px;
border-radius: 15px;
font-size: 20px;
outline: white auto 1px;
align-content: center;
justify-content: center;
flex-direction: row;
}
.Skill-Grid{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, .5fr)); 
}


.Skill-Container:hover {
    background-color: white ;
    color: rgb(36, 36, 36);
}