
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}.containerH{

    margin-bottom: 10%;
    display: flex;
    width: auto;
    justify-content: space-around;

    outline: auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.596);
}


.title-name{
padding: 20px;
}
.title-name p, h4{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-bottom: 10px;
    justify-content: left;
    font-size: 50px;
}
.title-name h4{
    font-size: 38px;
}
.subtext{
    font-size: 20px !important; 
}

.title-name h2{
    color: rgb(255, 255, 255);
    
    margin-top: 10px;
    
    
    font-size: 6rem;
    font-weight: 800;
}
.links{
display: flex;
}

.links a{
    margin-left: 10px;
}
@media screen and (max-width: 1120px) {
    .containerH{
     margin-top: 10%;
     
     
     margin-bottom: 20%;
    }
    .title-name h2{
        font-size: 3rem;
        font-weight: 800;
        justify-content: left;
        text-align: left;
        
    }
    .title-name h4{
        font-size: 24px;
    }
    .title-name p, h4{
        color: rgb(255, 255, 255);
        text-align: left;
        margin-bottom: 10px;
        justify-content: left;
        font-size: 30px;
    }
}

@media (max-width: 880px) {
    .containerH{
        margin: 50% auto;
     margin-top: 20%;
     margin-bottom: 20%;
    }
    .title-name h2{
        font-size: 3rem;
        font-weight: 800;
    }
    .title-name h4{
        font-size: 24px;
    }
}

@media (max-width: 640px) {
    .containerH{
     margin: 20px;
    }
    .title-name h2{
        font-size: 3rem;
        font-weight: 800;
    }
    .title-name h4{
        font-size: 24px;
    }
}