
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}.containerH{
    
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;

    outline: auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.596);
}


.title-name{
padding: 20px;
}
.title-name p, h4{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-bottom: 10px;
    justify-content: left;
    font-size: 50px;
}
.title-name h4{
    font-size: 38px;
}
.subtext{
    font-size: 20px !important; 
}

.title-name h2{
    color: rgb(255, 255, 255);
    
    margin-top: 10px;
    
    
    font-size: 6rem;
    font-weight: 800;
}
.links{
display: flex;
}

.links a{
    margin-left: 10px;
}

@media screen and (max-width: 800px) {
    .container{
        margin-left: 500px;
    }
    
}