*{
box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
}

.containerP{
    text-align: none;
    margin-top: 0%;
    margin-bottom: 10%;
    padding: 10px;
    right: auto;
    justify-content: space-around;
    align-items: stretch;
    outline: auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.596);
    gap: 10px;
    
}
.Project-Grid{ 
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, .25fr));
    gap: 16px; 
    margin: auto;
}
.Projct_Card{
    padding: 20px;
    max-width: 300px;
    height: 200px;    
    background-color: rgb(114, 114, 114);
    border-radius: 15px;
    text-align: center;
    }

.project-Name{
    color: white;
}

.project-tool{
    background-color: rgb(67, 75, 91);
    border-radius: 1px;
    padding: 3px;
    margin-right: 8px;
    font-size: 13px;
    letter-spacing: 0.1em;
    margin-top: 20px;
    color: rgb(196, 196, 196);
}
.project-links a {
 color: white;
 margin: 10px;
 size: 20px;
}
.project-links{
    margin-top: 10px;
}
